.cards-container {
    .flex(space-evenly);
    .width-100();
    margin-top: 16px;

    @media @mobile {
    .flex-center();
    }

    .team {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        padding-bottom: 10px;
    
    .cards {
    .border-bottom-grey();
    .flex(space-between, none, column);
    background-color: @btn-bg-color;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    .headline {
        font-size: 25px;
        font-family: Didot, serif;
        margin-bottom: 5px;
    }

    .purple {
        color: @river-bend;

        @media @mobile {
            padding-bottom: 10px;
        }

        @media @tablet {
            padding-bottom: 10px;
        }
    }   

    .author {
        .flex(none, center);
        justify-content: space-around;

        @media @mobile {
            display: flex;
            flex-direction: column;
        }
        @media @tablet {
            display: flex;
            flex-direction: column;
        }
    }
    
    .website {
        display: flex;
        width: 65%;
        justify-content: space-evenly;

        @media @mobile {
            display: flex;
            width: 100%;
        }
        @media @tablet {
            display: flex;
            width: 410px;
            padding: 10px;
            justify-content: space-between;
            align-content: center;
        }
    }

    .student {
        width: 200px;
        height: 200px;

        @media @mobile {
            width: 150px;
            height: 150px;
        }
    }

    .social {
        height: 10%;
        width: 10%;

        @media @mobile {
            padding-top: 10px;
            .flex100();
            height: 100%;
        }
        @media @tablet {
            width: 100%;
            justify-content: space-evenly;
        }
    }

    span {
        padding-left: 10px;
        font-size: 12px;
        letter-spacing: 1px;
        font-weight: bold;
        }
    }
    }
}