.cards-container {
    .flex(space-evenly);
    .width-100();
    margin-top: 16px;
    @media @mobile {
    .flex-center();
    }

    .team {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        padding-bottom: 10px;
    
    .cards {
    .border-bottom-grey();
    .flex(space-between, none, column);
    background-color: @btn-bg-color;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    .headline {
        font-size: 25px;
        font-family: Didot, serif;
        margin-bottom: 5px;
    }

    // .purple{
    //     color: @river-bend;
    // }

    .author {
        .flex(none, center);
        justify-content: space-around;
    }
    
    .student {
        width: 150px;
        height: 150px;
        &:hover{
            
        }
    }

    span {
        padding-left: 10px;
        font-size: 12px;
        letter-spacing: 1px;
        font-weight: bold;
        }
    }
    }
}